<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='mentor_review'">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/custom-font.css}">
</head>
<body>
<div layout:fragment="custom-content">
    <div>
        <h1 th:text="${today}"></h1>
    </div>
    <div>
        <label class="h2-font">생성된 팀 수 : </label>
        <label class="h2-font" th:text="${teamCount.createdTeamCount}">0</label>
    </div>
    <div>
        <label class="h3-font">진행 예정인 팀 수 : </label>
        <label class="h3-font" th:text="${teamCount.readyTeamCount}">0</label>
    </div>
    <div>
        <label class="h3-font">매칭 대기중인 팀 수 : </label>
        <label class="h3-font" th:text="${teamCount.waitTeamCount}">0</label>
    </div>
    <div>
        <label class="h3-font">리뷰중인 팀 수 : </label>
        <label class="h3-font" th:text="${teamCount.reviewTeamCount}">0</label>
    </div>
    <div>
        <label class="h3-font">종료된 팀 수 : </label>
        <label class="h3-font" th:text="${teamCount.endTeamCount}">0</label>
    </div>
</div>
</body>
<div layout:fragment="custom-footer">
</div>
</html>