<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout_admin.html" th:with="currentPage='mentor_review'">
<head>
    <meta charset="UTF-8">
    <title>Settle History</title>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" th:href="@{/css/custom-font.css}">
</head>
<body>
<div layout:fragment="custom-content">
</div>
</body>
<div layout:fragment="custom-footer">
</div>
</html>