<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="footer">
    <div class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <!-- Github -->
                <a class="btn btn-secondary btn-floating m-1"
                   href="https://github.com/innovationacademy-kr/swlabs-helper" target="_blank" role="button">
                    <i class="bi bi-github"></i>
                </a>

                <a class="btn btn-outline-secondary btn-floating m-1"
                   href="https://github.com/innovationacademy-kr/swlabs-helper/issues" target="_blank" role="button">
                    <i class="bi bi-pencil-square"></i> 이슈 제보하기
                </a>

                <a class="btn btn-outline-secondary btn-floating m-1"
                   href="https://bit.ly/3hy02ya" target="_blank" role="button">
                    <i class="bi bi-info-circle"></i> 가이드
                </a>


            </section>
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            2021
            <a class="text-white" href="https://innovationacademy.kr">innovationacademy</a>
        </div>
        <!-- Copyright -->
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--slider plugin -->
    <!--link : https://github.com/IonDen/ion.rangeSlider-->
    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <!--datepicker plugin-->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <!--Moment plugin-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        var locations = undefined;

        function getLocations() {
            let data;
            $.ajax({
                    type: "GET",
                    url: "./api/v1/team/locations",
                    data: null,
                    async: false,
                    dataType: "JSON",
                    contentType: 'application/json',
                    success: (rst) => data = rst.data,
                    error: (request, status, error) => {
                        alert("서버에서 데이터 읽기를 실패했습니다.\n" + request.status + "\nmessage: "
                            + request.responseText + "\nerror:" + error);
                    }
                }
            )
            return data;
        }

        function timeToTS(m) {
            return m.valueOf();
        }

        function tsToTime(ts) {
            var m = moment(ts);

            m.toISOString();
            if (m.hour() == 0 && startDate < ts)
                return "24:00";
            else
                return m.format("HH:mm");
        }
    </script>
</footer>
</html>