<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer" class="footer">
  <div class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <!-- Github -->
        <a class="btn btn-secondary btn-floating m-1"
           href="https://github.com/innovationacademy-kr/swlabs-helper"
           role="button">
          <i class="bi bi-github"></i>
        </a>
      </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      2021
      <a class="text-white" href="https://innovationacademy.kr">innovationacademy</a>
    </div>
    <!-- Copyright -->
  </div>
  <script th:src="@{js/bootstrap.js}"></script>
  <script th:src="@{js/bootstrap.bundle.js}"></script>
</footer>
</html>