<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='index'">
<head>
    <title>Home</title>
    <th:block layout:fragment="custom-head">
        <!-- Plugin CSS file with desired ski n-->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        <!-- datepicker -->
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    </th:block>
</head>

<div layout:fragment="custom-content">
    <div th:replace="fragment/team_viewer_modal :: modal"></div>
    <div th:if="${user == null}">
        <!-- Guest Mode -->
        <div class="p-3 mt-3 border rounded bg-dark bg-gradient">
            <div>
                <h2 class="text-light">42 Helper에 오신것을 환영합니다.</h2>
                <p class="text-light">42 Helper는 42 Seoul 카뎃들의 활발한 동료학습을 지원하기 위한 공간입니다.<br/>
                    지금 42에 로그인 하면 아래의 멘토링 팀에 참여할 수 있습니다!</p>
            </div>
        </div>
        <hr/>
        <h3>참여를 기다리고 있는 팀</h3>
        <div class="list-container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">프로젝트 명칭</th>
                    <th scope="col">장소</th>
                    <th scope="col">희망 일자</th>
                    <th scope="col">희망 시간</th>
                    <th scope="col">총 모집 인원</th>
                    <th scope="col">현재 인원</th>
                    <th scope="col">남은 인원</th>
                    <th scope="col">담당 멘토</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teams}">
                    <th scope="row" th:text="${team.teamId}">ID</th>
                    <td th:text="${team.project.getName()}">ProjectName</td>
                    <td th:text="${team.location.getName()}"></td>
                    <td th:text="${#temporals.format(team.startTime, 'MM/dd')}">날짜</td>
                    <td>
                        <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                        ~
                        <span th:if="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'">24:00</span>
                        <span th:unless="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'"
                              th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span></td>
                    <td th:text="${team.maxMemberCount}">3</td>
                    <td th:text="${team.currentMemberCount}">2</td>
                    <td th:text="${team.maxMemberCount - team.currentMemberCount}">1</td>
                    <td>
                        <span th:if="${#strings.contains(team.getNicknameByMentor(),'empty')}">미지정</span>
                        <span th:unless="${#strings.contains(team.getNicknameByMentor(),'empty')}"
                              th:text="${team.getNicknameByMentor()}">멘토</span>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div th:if="${user != null}">
        <!-- Login Mode -->
        <h3>나의 팀</h3>
        <div class="mt-3 border rounded bg-secondary bg-gradient">
            <!--                <div class="d-flex flex-wrap">-->
            <div class="row m-0">
                <div th:if="${myTeams.getTotalElements()} == 0" class="text-center m-3">
                    <h2 class="text-light">지금 팀을 만들고 멘토링에 참여해보세요!</h2>
                    <button type="button" class="btn btn-primary" onclick="location.href='https://bit.ly/3hy02ya'">가이드
                    </button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/mentee'">멘티 신청</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/mentor'">멘토 신청</button>
                </div>
                <div th:each="team : ${myTeams}" class="col-lg-3 col-md-4 col-sm-6 border rounded bg-light">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <span th:text="${team.project.getName()}">Project Title</span>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span class="rounded-pill bg-secondary text-light p-1"
                                  th:text="'#'+${team.project.getId()}"
                                  style="font-size: 0.65em"></span>
                            <span th:text="${#temporals.format(team.startTime, 'YYYY/MM/dd')}"></span>
                        </h6>
                        <div class="mt-2">
                            <p class="card-text">
                                <span th:text="${team.location.getName()}"></span>
                            </p>
                            <button type="button" class="btn btn-primary" th:onclick="onclick_detail_team([[${team}]])">
                                상세
                                보기
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr/>
        <h3>현재 멘토링 대기중인 모든 팀</h3>
        <div class="list-container">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">프로젝트 명칭</th>
                    <th scope="col">장소</th>
                    <th scope="col">희망 일자</th>
                    <th scope="col">희망 시간</th>
                    <th scope="col">총 모집 인원</th>
                    <th scope="col">현재 인원</th>
                    <th scope="col">남은 인원</th>
                    <th scope="col">담당 멘토</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${allTeams}">
                    <th scope="row" th:text="${team.teamId}">ID</th>
                    <td th:text="${team.project.getName()}">ProjectName</td>
                    <td th:text="${team.location.getName()}"></td>
                    <td th:text="${#temporals.format(team.startTime, 'MM/dd')}">날짜</td>
                    <td>
                        <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                        ~
                        <span th:if="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'">24:00</span>
                        <span th:unless="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'"
                              th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span>
                    </td>
                    <td th:text="${team.maxMemberCount}">3</td>
                    <td th:text="${team.currentMemberCount}">2</td>
                    <td th:text="${team.maxMemberCount - team.currentMemberCount}">1</td>
                    <td>
                        <span th:if="${#strings.contains(team.getNicknameByMentor(),'empty')}">미지정</span>
                        <span th:unless="${#strings.contains(team.getNicknameByMentor(),'empty')}"
                              th:text="${team.getNicknameByMentor()}">멘토</span>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="text-center mb-5">
                <button type="button" class="btn btn-primary" onclick="location.href='/list_team'">팀 더보기</button>
            </div>

        </div>

    </div>
</div>
<div layout:fragment="custom-footer">
    <div th:replace="fragment/team_viewer_modal :: script"></div>
    <script>
        function onclick_detail_team(team) {
            team_viewer_modal_update({
                team: team,
                mode: "READONLY_OUT",
                ajax_req_info: {
                    url: './api/v1/team/' + team.teamId + '/out',
                    type: 'DELETE',
                    success_message: '해당 팀에서 탈퇴했습니다.',
                    success: function () {
                        window.location.href = '/';
                    }
                }
            });
            team_viewer_modal_show();
        }
    </script>
</div>
</html>