<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='list_team'">
<head>
    <title>Home</title>
</head>

<div layout:fragment="custom-content">
    <div class="page_title">
        <h2>팀 목록</h2>
        <p>모든 멘토링 팀 목록을 조회합니다.<br/>
            조회된 목록에서 참여하거나 멘토링 팀 탈퇴를 할 수 있습니다.</p>
        <p><b>참여하기</b>를 누르면 멘토링에 멘트로 참여할 수 있고 목록이 <b>내가 속한 팀</b>으로 이동합니다.</p>
    </div>
    <hr/>

    <!-- Modal -->
    <div th:replace="fragment/alert_modal :: modal"></div>

    <h2>팀 목록 확인하고 참여하기</h2>

    <div class="inquery">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="location.href='/list_myteam'">나의 팀</button>
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/list_team'">다른 팀</button>

            </div>
        </div>
    </div>

    <div class="list-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">프로젝트 명칭</th>
                <th scope="col">장소</th>
                <th scope="col">희망 일자</th>
                <th scope="col">희망 시간</th>
                <th scope="col">전체 인원</th>
                <th scope="col">현재 인원</th>
                <th scope="col">남은 인원</th>
                <th scope="col">담당 멘토</th>
                <th scope="col">작업</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <th scope="row" th:text="${team.teamId}">ID</th>
                <td th:text="${team.project.getName()}">ProjectName</td>
                <td th:text="${team.location.getName()}"></td>
                <td th:text="${#temporals.format(team.startTime, 'MM/dd')}">날짜</td>
                <td>
                    <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                    ~
                    <span th:if="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'">24:00</span>
                    <span th:unless="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'"
                          th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span>
                </td>
                <td th:text="${team.maxMemberCount}">3</td>
                <td th:text="${team.currentMemberCount}">2</td>
                <td th:text="${team.maxMemberCount - team.currentMemberCount}">1</td>
                <td>
                    <span th:if="${#strings.contains(team.getNicknameByMentor(),'empty')}">미지정</span>
                    <span th:unless="${#strings.contains(team.getNicknameByMentor(),'empty')}"
                          th:text="${team.getNicknameByMentor()}">멘토</span>
                </td>
                <td>
                    <div th:if="${user != null}">
                        <button type="button" class="btn btn-danger"
                                th:if="${#strings.contains(team.status, 'READY')} and ${team.nicknameByMentor != user.getNickname()}"
                                th:onclick="onclick_modal_alert([[${team}]])">팀 탈퇴
                        </button>
                        <button type="button" class="btn btn-danger"
                                th:unless="${#strings.contains(team.status, 'READY')} and ${team.nicknameByMentor != user.getNickname()}"
                                disabled>팀 탈퇴
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <nav th:with="
                  maxPage=${5},
                  start=${(teams.number/maxPage)*maxPage + 1},
                  end=(${(teams.totalPages == 0) ? 1 : (start + (maxPage - 1) < teams.totalPages ? start + (maxPage - 1) : teams.totalPages)})"
             aria-label="Page navigation">
            <ul class=" pagination justify-content-center">
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=0)}" th:text="'<<'"></a>
                </li>
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${start - 2})}" th:text="'<'"></a>
                </li>
                <li class="page-item"
                    th:each="offset: ${#numbers.sequence(start, end)}"
                    th:classappend="${offset == teams.number + 1} ? 'active'">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${offset - 1})}" th:text="${offset}"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${start + maxPage - 1})}" th:text="'>'"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${teams.totalPages - 1})}" th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<div layout:fragment="custom-footer">
    <div th:replace="fragment/alert_modal :: script"></div>

    <script>
        function onclick_modal_alert(team) {
            const modal_title_text = '팀 탈퇴'
            const modal_body_text = '정말로 팀을 나가시겠습니까?'

            const cancel_btn_text = '취소'
            const submit_btn_text = '탈퇴하기'

            const success_message = "탍퇴되었습니다"
            const fail_message = "탈퇴에 실패했습니다"

            alert_modal_update({
                team: team,
                modal_content_text: {
                    title: modal_title_text,
                    body: modal_body_text,
                    footer: {
                        cancel_btn: cancel_btn_text,
                        submit_btn: submit_btn_text
                    }
                },
                ajax_req_info_alert: {
                    url: "./api/v1/team/" + team.teamId + "/out",
                    type: "DELETE",
                    status_message: {
                        success: success_message,
                        fail: fail_message
                    },
                    success: function () {
                        window.location.href = '/list_myteam';
                    },
                },
            })
            alert_modal_show();
        }
    </script>
</div>
</html>
