<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='list_team'">
<head>
    <title>Home</title>
</head>

<div layout:fragment="custom-content">
    <h2> 매칭된 팀 목록 </h2>

    <div class="inquery">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/list_team'">모든 팀</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/list_myteam'">내가 속한 팀</button>
            </div>
        </div>
    </div>

    <div class="list-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">프로젝트 명칭</th>
                <th scope="col">장소</th>
                <th scope="col">희망 일자</th>
                <th scope="col">희망 시간</th>
                <th scope="col">총 모집 인원</th>
                <th scope="col">현재 인원</th>
                <th scope="col">남은 인원</th>
                <th scope="col">담당 멘토</th>
                <th scope="col">작업</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <th scope="row" th:text="${team.teamId}">ID</th>
                <td th:text="${team.projectName}">ProjectName</td>
                <td th:text="${team.location.getName()}"></td>
                <td th:text="${#temporals.format(team.startTime, 'dd/MM')}">날짜</td>
                <td>
                    <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                    ~
                    <span th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span>
                </td>
                <td th:text="${team.maxMemberCount}">3</td>
                <td th:text="${team.currentMemberCount}">2</td>
                <td th:text="${team.maxMemberCount - team.currentMemberCount}">1</td>
                <td>
                    <span th:if="${#strings.contains(team.getNicknameByMentor(),'empty')}">미지정</span>
                    <span th:unless="${#strings.contains(team.getNicknameByMentor(),'empty')}"
                          th:text="${team.getNicknameByMentor()}">멘토</span>
                </td>
                <td>
                    <button type="button" class="btn btn-primary">참여하기</button>
                </td>
            </tr>
            </tbody>
        </table>

        <nav th:with="
                  maxPage=${5},
                  start=${(teams.number/maxPage)*maxPage + 1},
                  end=(${(teams.totalPages == 0) ? 1 : (start + (maxPage - 1) < teams.totalPages ? start + (maxPage - 1) : teams.totalPages)})"
             aria-label="Page navigation">
            <ul class=" pagination justify-content-center">
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=0)}" th:text="'<<'"></a>
                </li>
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${start - 2})}" th:text="'<'"></a>
                </li>
                <li class="page-item"
                    th:each="offset: ${#numbers.sequence(start, end)}"
                    th:classappend="${offset == teams.number + 1} ? 'active'">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${offset - 1})}" th:text="${offset}"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${start + maxPage - 1})}" th:text="'>'"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/list_myteam?(offset=${teams.totalPages - 1})}" th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </div>

</div>
</html>
