<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='list_team'">
<head>
    <title>Home</title>
</head>

<div layout:fragment="custom-content">
    <h2> 매칭된 팀 목록 </h2>

    <div class="inquery">
        <div class="row">
            <div class="col">
                    <button type="button" class="btn btn-primary">모든 팀</button>
                    <button type="button" class="btn btn-outline-primary">내가 속한 팀</button>
            </div>
        </div>
    </div>

    <div class="list-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">프로젝트 명칭</th>
                <th scope="col">장소</th>
                <th scope="col">희망 일자</th>
                <th scope="col">희망 시간</th>
                <th scope="col">총 모집 인원</th>
                <th scope="col">현재 인원</th>
                <th scope="col">남은 인원</th>
                <th scope="col">담당 멘토</th>
                <th scope="col">작업</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <th scope="row" th:text="${team.teamId}">ID</th>
                <td th:text="${team.projectName}">ProjectName</td>
                <td>
                    <span th:if="${team.location.toString().equals('GAEPO')}">개포</span>
                    <span th:if="${team.location.toString().equals('SEOCHO')}">서초</span>
                    <span th:if="${team.location.toString().equals('ONLINE')}">온라인</span>
                </td>
                <td th:text="${#temporals.format(team.startTime, 'dd/MM')}">날짜</td>
                <td>
                    <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                    ~
                    <span th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span>
                </td>
                <td th:text="${team.maxMemberCount}">3</td>
                <td th:text="${team.currentMemberCount}">2</td>
                <td th:text="${team.maxMemberCount - team.currentMemberCount}">1</td>
                <td>
                    <span th:if="${#strings.contains(team.getNicknameByMento(),'empty')}">미지정</span>
                    <span th:unless="${#strings.contains(team.getNicknameByMento(),'empty')}" th:text="${team.getNicknameByMento()}">멘토</span>
                </td>
                <td><button type="button" class="btn btn-primary">참여하기</button></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

</div>
</html>
