<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='mentor'">
<head>
    <title>Mentor</title>
    <!-- rangeSlider Plugin CSS file with desired skin-->
    <th:block layout:fragment="custom-head">
        <!-- Plugin CSS file with desired ski n-->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        <!-- datepicker -->
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    </th:block>
</head>

<div layout:fragment="custom-content">
    <div class="page_title">
        <h2>멘토 신청</h2>
        <p>멘토가 정해지지 않은 멘토링 팀을 조회 합니다.<br/>
            <b>세부사항을 확인</b>하고 멘토로써 참여할 수 있습니다. 멘티 목록에서 멘토로 참여하게 되면 팀이 성사됩니다.</p>
        <p>또는 <b>멘토링 하기</b> 버튼을 통해서 원하는 멘토링을 개설하고 바로 멘토로써 멘티를 받을 수 있습니다.</p>
    </div>
    <button type="button" class="btn btn-primary" onclick="onclick_create_team()">
        멘토링 하기 (멘토)
    </button>
    <hr/>
    <!-- Modal -->
    <div th:replace="fragment/team_create_modal :: modal"></div>
    <div th:replace="fragment/team_matching_modal :: modal"></div>
    <!-- Content-->
    <h2>멘토를 기다리는 멘티 목록</h2>

    <div class="inquery">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/mymentor'">내가 멘토인 팀
                </button>
                <button type="button" class="btn btn-primary" onclick="location.href='/mentor'">멘토를 기다리는 멘티 목록
                </button>

            </div>
        </div>
    </div>
    <div class="list-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">프로젝트 명칭</th>
                <th scope="col">제목</th>
                <th scope="col">장소</th>
                <th scope="col">희망 일시</th>
                <th scope="col">희망 인원</th>
                <th scope="col">개설자</th>
                <th scope="col">작업</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <th scope="row" th:text="${team.teamId}">ID</th>
                <td th:text="${team.project.getName()}">ProjectName</td>
                <td th:text="${team.getSubject()}"></td>
                <td th:text="${team.location.getName()}"></td>
                <td>
                    <span th:text="${#temporals.format(team.startTime, 'MM/dd')}">일자</span>
                    <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                    ~
                    <span th:if="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'">24:00</span>
                    <span th:unless="${#temporals.format(team.endTime, 'HH:mm')} == '00:00'"
                          th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span>
                </td>
                <td>
                    <span th:text="${team.maxMemberCount}"></span>
                </td>
                <td th:text="${team.getNicknameByMentee()}"></td>
                <td>
                    <button type="button" class="btn btn-primary"
                            th:onclick="onclick_matching_team([[${team}]])">
                        세부사항 확인
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <nav th:with="
                  maxPage=${5},
                  start=${(teams.number/maxPage)*maxPage + 1},
                  end=(${(teams.totalPages == 0) ? 1 : (start + (maxPage - 1) < teams.totalPages ? start + (maxPage - 1) : teams.totalPages)})"
             aria-label="Page navigation">
            <ul class=" pagination justify-content-center">
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/mentor?(offset=0)}" th:text="'<<'"></a>
                </li>
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/mentor?(offset=${start - 2})}" th:text="'<'"></a>
                </li>
                <li class="page-item"
                    th:each="offset: ${#numbers.sequence(start, end)}"
                    th:classappend="${offset == teams.number + 1} ? 'active'">
                    <a class="page-link" th:href="@{/mentor?(offset=${offset - 1})}"
                       th:text="${offset}"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/mentor?(offset=${start + maxPage - 1})}"
                       th:text="'>'"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/mentor?(offset=${teams.totalPages - 1})}"
                       th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div layout:fragment="custom-footer">
    <div th:replace="fragment/team_create_modal :: script"></div>
    <div th:replace="fragment/team_matching_modal :: script"></div>
    <script>
        function onclick_create_team() {
            team_create_modal_update({
                mode: "CREATE_TEAMWISH_MENTOR", // for mentor
                ajax_req_info: {
                    url: "./api/v1/team",
                    type: "POST",
                    success_message: '해당 팀에 맨토로 등록되었습니다.',
                    success: function () {
                        window.location.href = '/mymentor';
                    },
                    member_role: 'MENTOR'
                }
            });
            team_create_modal_show();
        }

        function onclick_matching_team(team) {
            team_matching_modal_update(team);
            team_matching_modal_show();
        }
    </script>
</div>
</html>