<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='mentor_review'">
<head>
    <meta charset="UTF-8">
    <title>Review</title>
    <link rel="stylesheet" th:href="@{/css/image.css}">
</head>
<body>
<div layout:fragment="custom-content">
    <h2 class="main-title primary text-center py-3" th:text="${team.subject}"></h2>
    <div class="row">
        <div class="col-sm-2 text-center">
            <div class="bg-image-item center img-rounded square-l" data-tooltip-login="hwon"
                 data-tooltip-url="https://profile.intra.42.fr"
                 th:style="'margin: auto;background-image: url(' + ${user.picture} + ');'">
            </div>
            <b th:text="${user.nickname}"></b>
        </div>

        <!-- input slide 교체, hidden 교체  -->
        <div class="col-sm-10">
            <form id="feedback_form" class="simple_form form-horizontal" novalidate="novalidate"
                  enctype="multipart/form-data" action="/events/7120/feedbacks" accept-charset="UTF-8" method="post">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="authenticity_token"
                       value="4fRw4ZOeNwyQt5I7c5aSBs9USviSZfChfR+EcFdDhFpyw+Uf3gfee40MsZ1nFHfC45JFgqrGSGfPOOhbrtZUjA==">


                <div class="form-group range required feedback_feedback_details_rate">
                    <div class="col-sm-10">
                        <input class="form-range-input numeric range required star-range"
                               data-star-range="0" type="range" autocomplete="off" value="0" max="4"
                               step="1" name="feedback[feedback_details_attributes][0][rate]"
                               id="feedback_feedback_details_attributes_0_rate">
                        <p class="help-block">멘토링에 시간이 잊혀질 정도로 즐거웠습니까?</p></div>
                </div>
                <div class="form-group hidden feedback_feedback_details_kind">
                    <div class="col-sm-10">
                        <input class="form-control hidden" value="accuracy" type="hidden"
                               name="feedback[feedback_details_attributes][0][kind]"
                               id="feedback_feedback_details_attributes_0_kind">
                    </div>
                </div>
                <div class="form-group range required feedback_feedback_details_rate">
                    <div class="col-sm-10">
                        <input class="form-range-input numeric range required star-range"
                               data-star-range="0" type="range" autocomplete="off" value="0" max="4"
                               step="1" name="feedback[feedback_details_attributes][1][rate]"
                               id="feedback_feedback_details_attributes_1_rate">
                        <p class="help-block">멘토가 매너있게 대했습니까?</p></div>
                </div>
                <div class="form-group hidden feedback_feedback_details_kind">
                    <div class="col-sm-10">
                        <input class="form-control hidden" value="interesting" type="hidden"
                               name="feedback[feedback_details_attributes][1][kind]"
                               id="feedback_feedback_details_attributes_1_kind"></div>
                </div>
                <div class="form-group range required feedback_feedback_details_rate">
                    <div class="col-sm-10">
                        <input class="form-range-input numeric range required star-range"
                               data-star-range="0" type="range" autocomplete="off" value="0" max="4"
                               step="1" name="feedback[feedback_details_attributes][2][rate]"
                               id="feedback_feedback_details_attributes_2_rate">
                        <p class="help-block">멘토가 시간에 맞추어 진행했습니까?</p>
                    </div>
                </div>
                <div class="form-group hidden feedback_feedback_details_kind">
                    <div class="col-sm-10">
                        <input class="form-control hidden" value="quality" type="hidden"
                               name="feedback[feedback_details_attributes][2][kind]"
                               id="feedback_feedback_details_attributes_2_kind"></div>
                </div>
                <div class="form-group range required feedback_feedback_details_rate">
                    <div class="col-sm-10">
                        <input class="form-range-input numeric range required star-range"
                               data-star-range="0" type="range" autocomplete="off" value="0" max="4"
                               step="1" name="feedback[feedback_details_attributes][3][rate]"
                               id="feedback_feedback_details_attributes_3_rate">
                        <p class="help-block">멘토링을 받으면서 많은 도움이 되었습니까?</p></div>
                </div>
                <div class="form-group hidden feedback_feedback_details_kind">
                    <div class="col-sm-10">
                        <input class="form-control hidden" value="pertinent" type="hidden"
                               name="feedback[feedback_details_attributes][3][kind]"
                               id="feedback_feedback_details_attributes_3_kind"></div>
                </div>
                <div class="form-group text required feedback_comment col-sm-12">
                    <div class="col-sm-10">
                        <textarea class="form-control text required" required="required"
                                  aria-required="true" placeholder="Feedbacks"
                                  name="feedback[comment]" id="feedback_comment"></textarea></div>
                </div>
                <div class="form-group hidden feedback_user_id">
                    <div class="col-sm-10 py-3">
                        <input class="form-control hidden" value="86905" type="hidden"
                               name="feedback[user_id]" id="feedback_user_id"></div>
                </div>
                <div class="col-sm-10 py-3">
                    <button class="btn btn-primary full-width" data-disable-with="feedbacking..."
                            type="submit">
                        <i class="bi bi-check-square"></i>
                        작성 완료
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>