<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='set_time'">
<head>
    <title>시간 설정</title>
    <!-- Plugin CSS file with desired skin -->
    <th:block layout:fragment="custom-head">
        <!-- Plugin CSS file with desired ski n-->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        <!-- datepicker -->
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    </th:block>
</head>

<div layout:fragment="custom-content">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        새로운 스케줄
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">시간 설정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2> 시간 설정 </h2>
                    <form class="m-3 needs-validation" method="post" id="create_team_form">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="project_name" class="form-label">프로젝트 명칭</label>
                                    <select class="form-select" id="project_name" required>
                                        <option selected disabled value="">프로젝트 선택하기</option>
                                        <option value="1">ft_printf</option>
                                        <option value="2">get_next_line</option>
                                        <option value="3">ft_libft</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="location" class="form-label">장소</label>
                                    <select class="form-select" id="location" required>
                                        <option selected disabled value="">장소 선택하기</option>
                                        <option value="GAEPO">개포</option>
                                        <option value="SEOCHO">서초</option>
                                        <option value="ONLINE">온라인</option>
                                        <option value="ETC">상관없음</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="max_people_count" class="form-label">참여 인원</label>
                                    <input class="form-control" id="max_people_count" th:type="number" th:min="2"
                                           required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="datepicker" class="form-label">날짜</label>
                                    <input id="datepicker" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="demo__body py-3">
                                <input id="time_range_slider" type="text">
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="me-auto"></div>
                            <button class="btn btn-primary" type="submit">완료</button>
                        </div>
                        -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="submit_team()">생성</button>
                </div>
            </div>
        </div>
    </div>

    <!-- list -->
    <div class="list-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">프로젝트 명칭</th>
                <th scope="col">장소</th>
                <th scope="col">희망 인원</th>
                <th scope="col">희망 일자</th>
                <th scope="col">희망 시간</th>
                <th scope="col">개설자</th>
                <th scope="col">작업</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Born2beroot</td>
                <td>개포</td>
                <td>3</td>
                <td>6/18</td>
                <td>13:00 - 15:00</td>
                <td>hwon</td>
                <td>
                    <button type="button" class="btn btn-danger">삭제</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Born2beroot</td>
                <td>개포</td>
                <td>3</td>
                <td>6/18</td>
                <td>13:00 - 15:00</td>
                <td>hwon</td>
                <td>
                    <button type="button" class="btn btn-danger">삭제</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Born2beroot</td>
                <td>개포</td>
                <td>3</td>
                <td>6/18</td>
                <td>13:00 - 15:00</td>
                <td>hwon</td>
                <td>
                    <button type="button" class="btn btn-danger">삭제</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Born2beroot</td>
                <td>개포</td>
                <td>3</td>
                <td>6/18</td>
                <td>13:00 - 15:00</td>
                <td>hwon</td>
                <td>
                    <button type="button" class="btn btn-danger">삭제</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Born2beroot</td>
                <td>개포</td>
                <td>3</td>
                <td>6/18</td>
                <td>13:00 - 15:00</td>
                <td>hwon</td>
                <td>
                    <button type="button" class="btn btn-danger">삭제</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Born2beroot</td>
                <td>개포</td>
                <td>3</td>
                <td>6/18</td>
                <td>13:00 - 15:00</td>
                <td>hwon</td>
                <td>
                    <button type="button" class="btn btn-dark" disabled>팀매칭 완료</button>
                </td>
            </tr>

            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
<div layout:fragment="custom-footer">
    <!--slider plugin -->
    <!--link : https://github.com/IonDen/ion.rangeSlider-->
    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <!--datepicker plugin-->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <!--Moment plugin-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        var lang = "ko-KR";
        var year = 2018;

        function timeToTS(date) {
            return date.valueOf();
        }

        function tsToTime(ts) {
            var d = new Date(ts);

            return d.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit', hour12: true});
        }

        $("#time_range_slider").ionRangeSlider({
            skin: "round",
            type: "double",
            grid: true,
            min: timeToTS(new Date(2020, 1, 1, 0, 0, 0)),
            max: timeToTS(new Date(2020, 1, 1, 24, 0, 0)),
            from: timeToTS(new Date(2020, 1, 1, 9, 0, 0)),
            to: timeToTS(new Date(2020, 1, 1, 18, 0, 0)),
            step: 900000,
            prettify: tsToTime
        }).addClass("irs-hidden-input");

        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
            minDate: function () {
                const date = new Date();
                return new Date(date.getFullYear(), date.getMonth(), date.getDate());
            }
        });

        $('#datepicker').next().attr("role", "icon");

        /* form submit 사용 시 적용할 것 */
        /*
        window.onload = function () {
            $('#create_team_form').submit(function (e) {
                e.preventDefault()
                const form = document.getElementById('create_team_form');
                if (form.checkValidity() == false) {
                    form.classList.add("was-validated");
                    return;
                }
                const projectName = $('#project_name option:selected').text();
                const location = $('#location option:selected').attr("value");
                const mexPeopleCount = $('#max_people_count').val();
                const date = moment($('#datepicker').val());
                const [start, end] = $('#time_range_slider').val().split(';')
                const start_date = moment(parseInt(start)).set({
                    'year': date.year(),
                    'month': date.month(),
                    'date': date.date()
                })
                const end_date = moment(parseInt(end)).set({
                    'year': date.year(),
                    'month': date.month(),
                    'date': date.date()
                })

                $.ajax({
                        type: "POST",
                        url: "./api/v1/team",
                        data: JSON.stringify({
                            startTime: start_date.format("YYYY-MM-DDTHH:mm"),
                            endTime: end_date.format("YYYY-MM-DDTHH:mm"),
                            location: location,
                            maxMemberCount: parseInt(mexPeopleCount),
                            projectName: projectName
                        }),
                        dataType: "JSON",
                        contentType: 'application/json',
                        success: (data) => {
                            console.log(data);
                            if (data.statusCode != 200) {
                                alert("등록을 실패했습니다.\n" + data.message);
                            } else {
                                alert("등록되었습니다.")
                                window.location.href = '/';
                            }
                        },
                        error: (request, status, error) => {
                            alert("등록을 실패했습니다.\n" + request.status + "\nmessage: "
                                + request.responseText + "\nerror:" + error);
                        }
                    }
                )
            })
        }
        */
        function submit_team() {
            const form = document.getElementById('create_team_form');
            if (form.checkValidity() == false) {
                form.classList.add("was-validated");
                return;
            }
            const projectName = $('#project_name option:selected').text();
            const location = function () {
                const select_loc = $('#location option:selected').attr("value");
                if (select_loc == "ETC")
                    return null
                else
                    return select_loc;
            }
            const mexPeopleCount = $('#max_people_count').val();
            const date = moment($('#datepicker').val());
            const [start, end] = $('#time_range_slider').val().split(';')
            const start_date = moment(parseInt(start)).set({
                'year': date.year(),
                'month': date.month(),
                'date': date.date()
            })
            const end_date = moment(parseInt(end)).set({
                'year': date.year(),
                'month': date.month(),
                'date': date.date()
            })

            $.ajax({
                    type: "POST",
                    url: "./api/v1/team",
                    data: JSON.stringify({
                        startTime: start_date.format("YYYY-MM-DDTHH:mm"),
                        endTime: end_date.format("YYYY-MM-DDTHH:mm"),
                        location: location,
                        maxMemberCount: parseInt(mexPeopleCount),
                        projectName: projectName
                    }),
                    dataType: "JSON",
                    contentType: 'application/json',
                    success: (data) => {
                        console.log(data);
                        if (data.statusCode != 200) {
                            alert("등록을 실패했습니다.\n" + data.message);
                        } else {
                            alert("등록되었습니다.")
                            window.location.href = '/';
                        }
                    },
                    error: (request, status, error) => {
                        alert("등록을 실패했습니다.\n" + request.status + "\nmessage: "
                            + request.responseText + "\nerror:" + error);
                    }
                }
            )
        }
    </script>
</div>
</html>