<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout.html" th:with="currentPage='set_time'">
<head>
    <title>시간 설정</title>
    <!-- Plugin CSS file with desired skin -->
    <th:block layout:fragment="custom-head">
        <!-- Plugin CSS file with desired ski n-->
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
        <!-- datepicker -->
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    </th:block>
</head>

<div layout:fragment="custom-content">
    <div class="page_title">
        <h2>시간 설정</h2>
        <p>원하는 멘토링을 설정할 수 있습니다. <b>멘토링 받기</b> 버튼을 눌러 과목과 시간, 그리고 날짜를 지정하면 멘토링이 개설됩니다.<br/>
            이후 개설된 멘토링은 멘토가 멘토링을 지정하면 팀이 성사되고 멘티를 추가모집할 수 있습니다.</p>
    </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" onclick="onclick_create_team()">
        멘토링 받기 (멘티)
    </button>
    <hr/>
    <!-- Modal -->
    <div th:replace="fragment/team_modal :: modal"></div>
    <div th:replace="fragment/alert_modal :: modal"></div>
    <!-- list -->
    <div class="list-container">
        <h2>멘티 목록</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">프로젝트 명칭</th>
                <th scope="col">장소</th>
                <th scope="col">희망 인원</th>
                <th scope="col">희망 일자</th>
                <th scope="col">희망 시간</th>
                <th scope="col">개설자</th>
                <th scope="col">작업</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teams}">
                <th scope="row" th:text="${team.teamId}">팀 아이디</th>
                <td th:text="${team.project.getName()}">프로젝트 명칭</td>
                <td th:text="${team.location.getName()}"></td>
                <td th:text="${team.maxMemberCount} == 0 ? '상관 없음' : ${team.maxMemberCount}">3</td>
                <td>
                    <div th:if="${team.startTime} AND ${team.endTime}">
                        <span th:text="${#temporals.format(team.startTime, 'MM/dd')}">날짜</span>
                    </div>
                    <div th:if="${team.startTime} == null OR ${team.endTime} == null" th:text="상관없음"></div>
                </td>
                <td>
                    <div th:if="${team.startTime} AND ${team.endTime}">
                        <span th:text="${#temporals.format(team.startTime, 'HH:mm')}">시작시간</span>
                        ~
                        <span th:text="${#temporals.format(team.endTime, 'HH:mm')}">종료시간</span>
                    </div>
                    <div th:if="${team.startTime} == null OR ${team.endTime} == null" th:text="상관없음"></div>
                </td>
                <td th:text="${team.getNicknameByMentee()}"></td>
                <td>
                    <button type="button" class="btn btn-danger"
                            th:onclick="onclick_delete([[${team}]])">
                        삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <nav th:with="
                  maxPage=${5},
                  start=${(teams.number/maxPage)*maxPage + 1},
                  end=(${(teams.totalPages == 0) ? 1 : (start + (maxPage - 1) < teams.totalPages ? start + (maxPage - 1) : teams.totalPages)})"
             aria-label="Page navigation">
            <ul class=" pagination justify-content-center">
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/create_team?(offset=0)}" th:text="'<<'"></a>
                </li>
                <li th:if="${start > 1}" class="page-item">
                    <a class="page-link" th:href="@{/create_team?(offset=${start - 2})}" th:text="'<'"></a>
                </li>
                <li class="page-item"
                    th:each="offset: ${#numbers.sequence(start, end)}"
                    th:classappend="${offset == teams.number + 1} ? 'active'">
                    <a class="page-link" th:href="@{/create_team?(offset=${offset - 1})}" th:text="${offset}"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/create_team?(offset=${start + maxPage - 1})}" th:text="'>'"></a>
                </li>
                <li th:if="${end < teams.totalPages}" class="page-item">
                    <a class="page-link" th:href="@{/create_team?(offset=${teams.totalPages - 1})}" th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div layout:fragment="custom-footer">
    <div th:replace="fragment/team_modal :: script"></div>
    <div th:replace="fragment/alert_modal :: script"></div>
    <script>
        function onclick_create_team() {
            team_modal_update({
                mode: "CREATE_TEAMWISH_MENTEE", // for mentee
                ajax_req_info: {
                    url: "./api/v1/team",
                    type: "POST",
                    success: function () {
                        window.location.href = '/set_time';
                    }
                }
            });
            team_modal_show();
        }

        function onclick_delete(team) {
            const modal_title_text = '팀 삭제'
            const modal_body_text = '정말로 팀을 삭제하시겠습니까?'

            const cancel_btn_text = '취소'
            const submit_btn_text = '삭제하기'

            const success_message = "삭제되었습니다"
            const fail_message = "삭제에 실패했습니다"

            alert_modal_update({
                team: team,
                modal_content_text: {
                    title: modal_title_text,
                    body: modal_body_text,
                    footer: {
                        cancel_btn: cancel_btn_text,
                        submit_btn: submit_btn_text
                    }
                },
                ajax_req_info_alert: {
                    url: "./api/v1/team/" + team.teamId,
                    type: "DELETE",
                    status_message: {
                        success: success_message,
                        fail: fail_message
                    },
                    success: function () {
                        window.location.href = '/set_time';
                    }
                }
            })
            alert_modal_show();
        }
    </script>
</div>
</html>